.home{
  -webkit-background: linear-gradient(45deg,#b6fffc,#357e7b,#050a4a);
  background: linear-gradient(45deg,#b6fffc,#357e7b,#050a4a);
  height:500px;
}

.home .container{
  padding-top: 120px;
}

.home .container h1,h4{
  font-family:cursive;
  color: #fff;
  font-weight: bolder;
  text-align:right;
}


nav.navbar.navbar-expand-md.navbar-dark.fixed-top{
  background-color: #0d0f32;
}

a.nav-link.px-4{
  color: #fff!important;
}

.home .btn{
  float:right;
  font-weight: bold;
  border-color:#000;
  border-radius: 30px;
  margin:10px 0px 10px 0px;
  padding: 10px;
}

.home .btn:hover{
  color: #fff;
  background-color: #000;
}

.home span a{
  color: #fff;
}

.home span a:hover{
  text-decoration: none;
}


.container h2{
  font-weight: bolder;
}

.myTestimonial{
  background-color:  #e5dfdf;
}

.card .btn{
  border-radius: 30px;
}

.card .btn:hover{
  color: #000;
  background-color:#e5dfdf 
}

#contact-section{
  padding: 20px;
}

a #contact-button .btn{
  border: 2px solid #000;
  border-radius: 30px;
}

#contact-section{
  background-color: #e5dfdf;
}

footer{
  font-weight: bolder;
  text-align: center;
  background-color: #e5dfdf;
  padding: 20px;
}

footer i{
  padding: 10px;
}

footer .col-md-6.col-sm-12.col-lg-6{
  padding: 10px;
}

footer a:hover{
  text-decoration: none;
}

ol.carousel-indicators{
  left: 0;
  top: auto;
  bottom: -70px;
}

ol.carousel-indicators li{
  background-color: #000;
}

ol.carousel-indicators .active{
  background-color: #000;
}

ol.carousel-indicators li{
  border-radius: 50%;
  width: 15px;
  height: 15px;
}


.box{
  position: relative;
  box-shadow: 0 0px 0px rgba(0,0,0,0.1);
  transition: all 0.6s cubic-benzier(0.165,0.84,0.44,1);
  -webkit-transition:all 0.6s cubic-benzier(0.165,0.84,0.44,1);
}

.box::after{
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0px 0px rgba(0,0,0,0.3);
  opacity: 0;
  transition: all 0.6s cubic-benzier(0.165,0.84,0.44,1);
  -webkit-transition:all 0.6s cubic-benzier(0.165,0.84,0.44,1);
}

.box:hover{
  -webkit-transform:scale(1.05,1.05);
  transform: scale(1.05,1.05);
}

.box:hover::after{
  opacity: 1;
}





